{
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"airbnb",
		"prettier"
	],
	"plugins": ["react", "jsx-a11y", "import"],
	"rules": {
		"strict": "warn",
		"react/prefer-stateless-function": "warn"
	}
}
