{
	"parser": "babel-eslint",
	"extends": ["eslint:recommended", "airbnb", "prettier", "prettier/react"],
	"plugins": ["react", "jsx-a11y", "import"],
	"rules": {
		"strict": "warn",
		"react/prefer-stateless-function": "warn",
		"react/prop-types": "warn"
	}
}
